# courier's HTTP surface, per cafaye/core/docs/openapi-conventions.md.
#
# This file now describes every route courier's router serves except two, and the
# two are named here: `/healthz` and `/readyz` are infrastructure probes that run
# before auth, routing and the rest of the platform exist, and no customer codes
# against them. A document that claims to describe courier and quietly omits part
# of it is worse than one that says what it covers — which is why the omissions
# are declared in this header *and* enforced by
# `test/courier_web/openapi_document_test.exs`, which fails if this file and
# `lib/courier_web/router.ex` disagree in either direction.
#
# `GET` and `PUT /v1/notification_preferences/{user_id}` were in the router with
# tests behind them and absent from here, which is the drift this file's check now
# prevents from recurring. They are the other half of the public surface, not an
# afterthought, and they are documented as thoroughly as the webhooks.
#
# > DECISION NEEDED (courier-05): the two notification-preferences operations are
# > served **unauthenticated**, and this document says so with `security: []`
# > rather than claiming a scheme courier does not enforce. `router.ex` puts them
# > in the `:api` pipeline only, and the gap is recorded in
# > `CourierWeb.NotificationPreferencesController`'s moduledoc and pinned by
# > `test/courier_web/router_test.exs`. Core's conventions ask for required
# > scopes on every operation, so either courier authenticates them or the
# > convention needs an exception for per-user settings whose tenant is in the
# > path. Recommendation: authenticate them in a later packet, before a customer
# > integrates against this document — a generated client built from `security:
# > []` will send no token, so closing it later is a breaking change to the
# > contract. Cost of flipping now: one scope name and the plug in a scope block.
# > Cost of flipping later: a major `info.version` and every generated client.
openapi: 3.1.0

info:
  # The document's own semantic version, which moves with the document and not
  # with the `/v1` prefix. The prefix changes only on a breaking change, and then
  # this number changes in the same commit. This is a minor bump: two operations
  # were added, nothing that exists changed shape.
  version: 1.2.0
  title: caFaye courier
  description: |
    Transactional email, notification preferences, and outbound webhooks.

    courier delivers events to customer HTTP endpoints using the
    [Standard Webhooks](https://www.standardwebhooks.com) signature scheme, so a
    delivery is verified with an official library and nothing has to be written
    about courier's scheme.
  contact:
    name: courier
    email: courier@cafaye.com
  license:
    name: AGPL-3.0
    identifier: AGPL-3.0-only

servers:
  - url: https://courier.cafaye.com
    description: production
  - url: http://localhost:4000
    description: local

tags:
  - name: webhook endpoints
    description: |
      Where an account registers the URLs courier delivers events to, and the
      signing secrets those deliveries are signed with.
  - name: notification preferences
    description: |
      What a user has been asked to receive, per notification type and per channel.
      Silence is not consent: a user courier has never seen, or a type a user has
      never mentioned, is on.

security:
  - bearerAuth: []

paths:
  /v1/notification_preferences/{user_id}:
    parameters:
      - $ref: '#/components/parameters/UserId'

    get:
      tags: [notification preferences]
      operationId: getNotificationPreferences
      summary: What this user has been asked to receive
      description: |
        Every notification type courier sends, with this user's stored answers
        filled in and the defaults used where there are none. A `GET` never writes.

        **An unknown user is a 200, not a 404.** identity owns the user table.
        courier is asked about a user id and answers with that user's
        preferences, which for a user who has never touched the settings is
        three types, all on. A 404 would be courier claiming to know something
        about the requester it does not know.

        Served without authentication — see this document's header, which records
        the gap and why it is not quietly written over here.
      security: []
      responses:
        '200':
          description: Every notification type, with this user's answers
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/NotificationPreferences' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

    put:
      tags: [notification preferences]
      operationId: updateNotificationPreferences
      summary: Apply a batch of preferences
      description: |
        Stores a batch and answers with the state the user now has — the same
        shape a `GET` returns, so a settings page does not have to follow a write
        with a read to render.

        **A rejected batch writes nothing.** The entries are validated together
        before any of them is stored, so a typo in the third entry cannot leave
        the first two applied and the user looking at a half-saved settings page.
        Applying the same batch twice is the same answer: this operation is
        idempotent by construction, because it stores the state it is given rather
        than accumulating deltas.

        `user_id` comes from the path and is never read from the body. A body
        that names a different user cannot write that user's preferences.

        Served without authentication — see this document's header.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: array
                  minItems: 1
                  description: |
                    The entries to store. A type or channel not named here is left
                    alone, so a client that knows about one setting can send one
                    entry without overwriting the rest.
                  items:
                    type: object
                    required: [notification_type]
                    properties:
                      notification_type:
                        $ref: '#/components/schemas/NotificationType'
                      email_enabled:
                        type: boolean
                        default: true
                      push_enabled:
                        type: boolean
                        default: true
                        description: |
                          Stored and returned because the API is the user's
                          settings, but nothing sends push, so a `true` here does
                          not mean courier will send a push.
            examples:
              - preferences:
                  - notification_type: welcome
                    email_enabled: false
      responses:
        '200':
          description: The stored state, the same shape a `GET` returns
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/NotificationPreferences' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /v1/webhook_endpoints:
    get:
      tags: [webhook endpoints]
      operationId: listWebhookEndpoints
      summary: List the caller's webhook endpoints
      description: |
        Cursor-paginated, oldest first. Disabled endpoints are included:
        disabling is not deleting, and the row carries the failure count and the
        reason delivery stopped.
      security:
        - bearerAuth: [webhooks:read]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: One page of endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

    post:
      tags: [webhook endpoints]
      operationId: createWebhookEndpoint
      summary: Register a webhook endpoint
      description: |
        The signing secret is returned **once**, in this response, and cannot be
        retrieved afterwards. Store it before leaving the response. A url courier
        will not send to is refused with a 422 whose `errors[0].code` names the
        class — `blocked_scheme`, `blocked_host`, `blocked_address`,
        `dns_failure` — because a well-formed url that resolves to a private
        address is a different problem from a typo and the customer needs to be
        told which one they have.
      security:
        - bearerAuth: [webhooks:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: |
                    An absolute http(s) URL. `file:`, `ftp:`, `gopher:`, `data:`
                    and `javascript:` are refused, as are loopback, link-local
                    (including `169.254.169.254`), RFC1918 and unique-local
                    addresses — by literal address *and* by what the host
                    resolves to.
                  examples:
                    - https://hooks.example.com/cafaye
                description:
                  type: string
                  maxLength: 500
                  nullable: true
      responses:
        '201':
          description: Registered, with the signing secret
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/WebhookEndpoint'
                      - type: object
                        required: [secret]
                        properties:
                          secret:
                            type: string
                            pattern: '^whsec_[A-Za-z0-9+/]+=*$'
                            description: |
                              The Standard Webhooks signing secret, base64
                              encoded behind the `whsec_` prefix. Shown once.
                            examples: ['whsec_MfKQ9r8GKYqrTwjUPD8ILPZIo2LaLaSw']
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /v1/webhook_endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/EndpointId'

    get:
      tags: [webhook endpoints]
      operationId: getWebhookEndpoint
      summary: Fetch one webhook endpoint
      security:
        - bearerAuth: [webhooks:read]
      responses:
        '200':
          description: The endpoint
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WebhookEndpoint' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      tags: [webhook endpoints]
      operationId: updateWebhookEndpoint
      summary: Change a webhook endpoint
      description: |
        A new `url` is a new destination and passes the same checks as a create.
        Fields that are not named are left alone, and the signing secret never
        changes here: a customer who edits a description must not have every
        delivery start failing verification for a day.
      security:
        - bearerAuth: [webhooks:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                status:
                  $ref: '#/components/schemas/WebhookEndpointStatus'
      responses:
        '200':
          description: The endpoint as it now is
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WebhookEndpoint' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

    delete:
      tags: [webhook endpoints]
      operationId: deleteWebhookEndpoint
      summary: Remove a webhook endpoint
      security:
        - bearerAuth: [webhooks:write]
      responses:
        '204':
          description: Removed. No body.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/webhook_endpoints/{id}/test:
    parameters:
      - $ref: '#/components/parameters/EndpointId'

    post:
      tags: [webhook endpoints]
      operationId: testWebhookEndpoint
      summary: Send a signed test payload to the endpoint
      description: |
        Sends a signed `ping` and reports what the receiver answered. The response
        is `200` whether or not the endpoint accepted it: the caller's request
        was well-formed and courier did what it was asked, which is a different
        fact from courier being unable to test. Read `data.delivered`.

        This is not a delivery. It writes no `webhook_deliveries` row, counts no
        attempt, and does not move the endpoint's circuit breaker — a customer
        testing their own endpoint and getting a 500 has learned something true,
        and charging their circuit for asking would punish them for using the
        diagnostic.
      security:
        - bearerAuth: [webhooks:write]
      responses:
        '200':
          description: The ping was sent; `delivered` says whether it was accepted
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [delivered, status_code, duration_ms]
                    properties:
                      delivered:
                        type: boolean
                        description: Whether the receiver answered 2xx.
                      status_code:
                        type: integer
                        nullable: true
                        description: The receiver's status, or null if nothing answered.
                      duration_ms:
                        type: integer
                        description: How long the attempt took.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        identity is the only issuer. The token carries `account_id` for tenancy
        and `scopes` for capability; courier checks both and never reads a role
        out of a claim, because core's conventions say a service asks identity
        about roles and checks scopes itself.

  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      description: |
        A uuid from identity. courier does not own users and holds no foreign key
        to them, so this is checked for *shape* and nothing else: a non-uuid is a
        422 before the body is looked at, and a well-formed id courier has never
        seen is a 200 with the defaults.
      schema: { type: string, format: uuid }

    EndpointId:
      name: id
      in: path
      required: true
      description: The endpoint's uuid.
      schema: { type: string, format: uuid }

    Limit:
      name: limit
      in: query
      required: false
      description: Page size. Defaults to 25, capped at 100.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        The opaque cursor from a previous page's `page.next_cursor`. Clients must
        not parse it; courier's encoding may change without notice. A cursor
        courier did not issue is a 422.
      schema: { type: string }

  schemas:
    NotificationType:
      type: string
      enum: [welcome, password_reset, team_invitation]
      description: |
        Every notification type courier sends. A type outside this list is a 422
        naming `preferences[0].notification_type`, because a preference for
        something courier will never send is a setting page that lies to the user.

    NotificationPreference:
      type: object
      required: [notification_type, email_enabled, push_enabled]
      properties:
        notification_type: { $ref: '#/components/schemas/NotificationType' }
        email_enabled:
          type: boolean
          description: |
            Whether courier will send this type to this user by email. Defaults
            to true: silence is not consent.
        push_enabled:
          type: boolean
          description: |
            Stored and returned so the answer is complete, but nothing sends push
            — a `true` here does not mean courier will send a push.

    NotificationPreferences:
      type: object
      required: [user_id, preferences]
      properties:
        user_id:
          type: string
          format: uuid
          description: The user these preferences are for, as the path named them.
        preferences:
          type: array
          description: |
            Every notification type, always all of them and never a subset: a
            settings page should not have to guess what it has not been told.
          items: { $ref: '#/components/schemas/NotificationPreference' }

    WebhookEndpointStatus:
      type: string
      enum: [enabled, disabled]
      description: |
        `disabled` is two things wearing one column: the customer turned it off,
        or courier's circuit breaker tripped. `disabled_reason` tells them apart,
        and is courier's to clear.

    WebhookEndpoint:
      type: object
      required: [id, account_id, url, status, consecutive_failures]
      properties:
        id: { type: string, format: uuid }
        account_id:
          type: string
          format: uuid
          description: The owning account. Always the caller's.
        url: { type: string, format: uri, maxLength: 2048 }
        description: { type: string, nullable: true, maxLength: 500 }
        status: { $ref: '#/components/schemas/WebhookEndpointStatus' }
        consecutive_failures:
          type: integer
          description: |
            Failures since the last success. At the circuit threshold courier
            disables the endpoint and records why.
        disabled_reason:
          type: string
          nullable: true
          description: |
            Why delivery stopped, when courier is the one who stopped it. Null for
            an endpoint the customer disabled, and null again once they re-enable
            one courier had tripped.

    WebhookEndpointPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/WebhookEndpoint' }
        page:
          type: object
          required: [has_more, next_cursor]
          properties:
            has_more: { type: boolean }
            next_cursor:
              type: string
              nullable: true
              description: Null on the last page.

    Problem:
      type: object
      description: RFC 9457, with courier's extensions. Every non-2xx.
      required: [type, title, status, detail, code, trace_id]
      properties:
        type:
          type: string
          format: uri
          description: '`https://errors.cafaye.com/<code>`. The machine-readable contract.'
        title: { type: string }
        status: { type: integer }
        detail:
          type: string
          description: Specific to this occurrence. Not parsed by clients.
        instance:
          type: string
          nullable: true
          description: The path the request was made to.
        code:
          type: string
          description: The last segment of `type`, in snake_case.
        trace_id:
          type: string
          description: Matches the `X-Trace-Id` response header. Support starts here.
        errors:
          type: array
          description: Present only on a 422.
          items:
            type: object
            required: [field, code]
            properties:
              field:
                type: string
                description: The path in the *request*, which is what the caller can fix.
              code:
                type: string
                enum: [invalid_format, taken, blocked_scheme, blocked_host, blocked_address, dns_failure]

  responses:
    BadRequest:
      description: |
        The body was not the shape courier was sent. This is 400 and not 422
        because a client could not have known: the request never parsed, so
        there is no field to name and nothing to correct.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://errors.cafaye.com/bad_request
            title: Bad request
            status: 400
            detail: The request body was not valid JSON.
            code: bad_request
            trace_id: 0af7651916cd43dd8448eb211c80319c

    Unauthorized:
      description: |
        No authenticated caller. courier does not guess an account for an
        anonymous request.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://errors.cafaye.com/unauthorized
            title: Unauthorized
            status: 401
            detail: This request needs an authenticated caller.
            code: unauthorized
            trace_id: 0af7651916cd43dd8448eb211c80319c

    NotFound:
      description: |
        No such endpoint, for this account. An endpoint belonging to another
        account is also a 404: core's conventions forbid a 403 here, because it
        leaks the existence of a resource the caller cannot see.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://errors.cafaye.com/not_found
            title: Not found
            status: 404
            detail: No webhook endpoint with that id.
            code: not_found
            trace_id: 0af7651916cd43dd8448eb211c80319c

    ValidationFailed:
      description: |
        The request was well-formed and the thing it asked for is not allowed.
        `errors[].code` distinguishes a typo from a refused destination.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://errors.cafaye.com/validation_failed
            title: Validation failed
            status: 422
            detail: That url is one courier will not send webhooks to.
            code: validation_failed
            trace_id: 0af7651916cd43dd8448eb211c80319c
            errors:
              - field: url
                code: blocked_address
