<p><%= @greeting %></p>
<p>Somebody asked to reset the password on your account.</p>
<p><a href="<%= @url %>">Choose a new password</a></p>
<p>If it was not you, ignore this message and nothing has changed.</p>
